<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.fendoudebb.playandroid">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 添加快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <!-- 移除快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
    <!--读写sd卡-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--读取imsi等手机信息-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--写入设置:调节亮度-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:allowClearUserData="false"
        android:icon="@drawable/layer_app_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/layer_app_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.fendoudebb.playandroid.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name=".module.main.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".module.main.AdvertiseActivity"
            android:theme="@style/SplashTheme"/>

        <activity
            android:name=".module.main.MainActivity"
            android:launchMode="singleTask"/>

        <activity android:name=".module.feature.FeatureDetailActivity"/>

        <activity android:name=".module.feature.ui.WebViewActivity"/>

        <activity
            android:name=".module.main.SettingsActivity"/>

        <activity
            android:name=".module.music.MusicDetailActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".module.main.SettingsActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".module.main.SettingsActivity"/>

        </activity>


    </application>

</manifest>